@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	background: #111;
	color: #EEE;
	font-family: 'Kanit', sans-serif;
}

a {
	color:yellow;
}

a:hover {
	color:lightyellow;;
}

/*MENU*/
.nav {
	background-color:#333;
	border-bottom:2px solid #000;
	margin:5px 0 20px 0;
}

.nav {
	background-color:#333;
	border-bottom:2px solid #000;
	margin:5px 0 20px 0;
}

.nav-tabs a{
	color:#EEE;
	text-transform: uppercase;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:yellow;
    background-color: #000;
	border-color:transparent transparent yellow;
	border-radius:none;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h1 {
	display:block;
	width:100%;
	margin:0;
	padding:0;
	text-align:center;
	color: white;
	font-size:24px;
}

.group .component {
	height:340px;
	top:-80px;
}

#wheel2.component,
#wheel4.component {	
	top:-40px;	
}

.cn-button {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin-top: -2em;
	margin-left: -2em;
	padding-top: 0;
	width: 4em;
	height: 4em;
	border: none;
	border-radius: 50%;
	background: none;
	background-color: yellow;
	color: Black;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}

.cn-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	margin-top: -13em;
	margin-left: -13.5em;
	width: 27em;
	height: 27em;
	border-radius: 50%;
	background: transparent;
	overflow: hidden;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: none;
}

.cn-wrapper:after{
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
  color: transparent;
}

.cn-wrapper li {
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	margin-top: 0.85em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.2em;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
}

.overlay {
	width:100%;
	height:100%;
	position:absolute;
	background-color:#000;
	opacity:0.15;
	border-radius:30px;
}

.cn-wrapper li a {
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	background: #00CCDD;
	background: -webkit-radial-gradient(transparent 35%, #00CCDD 35%);
	background: -moz-radial-gradient(transparent 35%, #00CCDD 35%);
	background: radial-gradient(transparent 35%, #00CCDD 35%);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2;
	-webkit-transform: skew(-62deg) rotate(-75deg) scale(1);
	-moz-transform: skew(-62deg) rotate(-75deg) scale(1);
	-ms-transform: skew(-62deg) rotate(-75deg) scale(1);
	transform: skew(-62deg) rotate(-75deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
	border:5px solid #000;
}

.cn-wrapper li a span {
	position: relative;
	top: 0.8em;
	display: block;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.cn-wrapper li a:hover,
.cn-wrapper li a:focus {
	background: #FFFF88;
  color:#000;
}

.cn-wrapper li a.active {
	background: #FFFF00;
	background-size: 400% 400%;
	animation: glowing 2000ms infinite;
	color:#000;
	border:5px solid #FFFF88;
}

.cn-wrapper li:first-child {
	-webkit-transform: skew(62deg);
	-moz-transform: skew(62deg);
	-ms-transform: skew(62deg);
	transform: skew(62deg); 
}
.cn-wrapper li:first-child a span{
	-webkit-transform: rotate(75deg);
	-moz-transform: rotate(75deg);
	-ms-transform: rotate(75deg);
	transform: rotate(75deg); 
}

.cn-wrapper li:nth-child(2) {
	-webkit-transform: rotate(30deg) skew(62deg);
	-moz-transform: rotate(30deg) skew(62deg);
	-ms-transform: rotate(30deg) skew(62deg);
	transform: rotate(30deg) skew(62deg);
}

.cn-wrapper li:nth-child(2) a span{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); 
}

.cn-wrapper  li:nth-child(3) {
	-webkit-transform: rotate(60deg) skew(62deg);
	-moz-transform: rotate(60deg) skew(62deg);
	-ms-transform: rotate(60deg) skew(62deg);
	transform: rotate(60deg) skew(62deg);
}

.cn-wrapper li:nth-child(3) a span{
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg); 
}

.cn-wrapper li:nth-child(4) {
	-webkit-transform: rotate(90deg) skew(62deg);
	-moz-transform: rotate(90deg) skew(62deg);
	-ms-transform: rotate(90deg) skew(62deg);
	transform: rotate(90deg) skew(62deg);
}

.cn-wrapper li:nth-child(4) a span{
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg); 
}

.cn-wrapper li:nth-child(5) {
	-webkit-transform: rotate(120deg) skew(62deg);
	-moz-transform: rotate(120deg) skew(62deg);
	-ms-transform: rotate(120deg) skew(62deg);
	transform: rotate(120deg) skew(62deg);
}

.cn-wrapper li:nth-child(5) a span{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); 
}

.cn-wrapper li:nth-child(6) {
	-webkit-transform: rotate(150deg) skew(62deg);
	-moz-transform: rotate(150deg) skew(62deg);
	-ms-transform: rotate(150deg) skew(62deg);
	transform: rotate(150deg) skew(62deg);
}

.cn-wrapper li:nth-child(6) a span{
	-webkit-transform: rotate(-75deg);
	-moz-transform: rotate(-75deg);
	-ms-transform: rotate(-75deg);
	transform: rotate(-75deg); 
}

.cn-wrapper li:nth-child(7) {
	-webkit-transform: rotate(180deg) skew(62deg);
	-moz-transform: rotate(180deg) skew(62deg);
	-ms-transform: rotate(180deg) skew(62deg);
	transform: rotate(180deg) skew(62deg);
}

.cn-wrapper li:nth-child(7) a span{
	-webkit-transform: rotate(-110deg);
	-moz-transform: rotate(-110deg);
	-ms-transform: rotate(-110deg);
	transform: rotate(-110deg); 
}

.cn-wrapper li:nth-child(8) {
	-webkit-transform: rotate(210deg) skew(62deg);
	-moz-transform: rotate(210deg) skew(62deg);
	-ms-transform: rotate(210deg) skew(62deg);
	transform: rotate(210deg) skew(62deg);
}

.cn-wrapper li:nth-child(8) a span{
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg); 
}

.cn-wrapper li:nth-child(9) {
	-webkit-transform: rotate(240deg) skew(62deg);
	-moz-transform: rotate(240deg) skew(62deg);
	-ms-transform: rotate(240deg) skew(62deg);
	transform: rotate(240deg) skew(62deg);
}

.cn-wrapper li:nth-child(9) a span{
	-webkit-transform: rotate(-170deg);
	-moz-transform: rotate(-170deg);
	-ms-transform: rotate(-170deg);
	transform: rotate(-170deg); 
}

.cn-wrapper li:nth-child(10) {
	-webkit-transform: rotate(270deg) skew(62deg);
	-moz-transform: rotate(270deg) skew(62deg);
	-ms-transform: rotate(270deg) skew(62deg);
	transform: rotate(270deg) skew(62deg);
}

.cn-wrapper li:nth-child(10) a span{
	-webkit-transform: rotate(1650deg);
	-moz-transform: rotate(165deg);
	-ms-transform: rotate(165deg);
	transform: rotate(165deg); 
}

.cn-wrapper li:nth-child(11) {
	-webkit-transform: rotate(300deg) skew(62deg);
	-moz-transform: rotate(300deg) skew(62deg);
	-ms-transform: rotate(300deg) skew(62deg);
	transform: rotate(300deg) skew(62deg);
}

.cn-wrapper li:nth-child(11) a span{
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg); 
}

.cn-wrapper li:nth-child(12) {
	-webkit-transform: rotate(330deg) skew(62deg);
	-moz-transform: rotate(330deg) skew(62deg);
	-ms-transform: rotate(330deg) skew(62deg);
	transform: rotate(330deg) skew(62deg);
}
.cn-wrapper li:nth-child(12) a span{
	-webkit-transform: rotate(100deg);
	-moz-transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	transform: rotate(100deg); 
}

#console1PairResult,
#console2PairResult,
#console3PairResult,
#nodeToActivate {
  display:block;
  width:100%;
  position:relative;
  text-align:center;
}

#console1PairResult span,
#console2PairResult span,
#console3PairResult span,
#nodeToActivate span {
  margin:0 auto;
  display:block;
  text-align:center; 
  color:White;
  font-size:2em;
  font-weight:700;
  width:100%;
}

#nodeToActivate {
	top:-20px;
}

#nodeToActivate span {
	color:darkgray;
	font-size:3em;
	background-color:#222;
	text-transform:uppercase;
	box-shadow:0 0 1px yellow;
}

@media only screen and (max-width: 620px) {
	.no-csstransforms li {
		width: 4em;
		height: 4em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 500px) {
	.no-ccstransforms .cn-wrapper {
		padding: .5em;
	}

	.no-csstransforms .cn-wrapper li {
		width: 4em;
		height: 4em;
		font-size: .9em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 480px) {
	.csstransforms .cn-wrapper {
		font-size: .68em;
	}

	.cn-button {
		font-size: 1em;
	}
}

@media only screen and (max-width:420px) {
	.no-csstransforms .cn-wrapper li {
		width: 100%;
		height: 3em;
		line-height: 3em;
	}
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #FFFF00; }
  40% { box-shadow: 0 0 20px #FFFF00; }
  60% { box-shadow: 0 0 20px #FFFF00; }
  100% { box-shadow: 0 0 -10px #FFFF00; }
}
